SUBSCRIPTION_ID=Sponsorship
LOCATION=westeurope

RESOURCEGROUP_DATA=aksupdates-data-dev
STORAGEACCOUNT_DATA_NAME=aksupddatadev
STORAGEACCOUNT_FUNCTIONAPP_NAME=aksupdfuncdev

RESOURCEGROUP_FUNCTIONAPP=aksupdates-win-dev
FUNCTIONAPP_NAME=aksupdates-dev

TOGGLE_SENDNOTIFICATIONS=false
DATA_TABLENAME="aksupdatesdev"