SUBSCRIPTION_ID=Sponsorship
LOCATION=westeurope

RESOURCEGROUP_DATA=aksupdates-data-prd
STORAGEACCOUNT_DATA_NAME=aksupddataprd
STORAGEACCOUNT_FUNCTIONAPP_NAME=aksupdfuncprd

RESOURCEGROUP_FUNCTIONAPP=aksupdates-win-prd
FUNCTIONAPP_NAME=aksupdatesprd

TOGGLE_SENDNOTIFICATIONS=false
DATA_TABLENAME="aksupdatesprd"